ion-header {
    ion-toolbar {
        --background: var(--theme-color);
        --min-height: 75px;
        ion-title {
            font-size: 25px;
            font-family: 'eco-medium';
        }
    }
}

ion-content {
    p {
        font-size: 16px;
        font-family: 'eco-medium';
        color: var(--placeholder-color);
        ion-icon {
            font-size: 26px;
            margin-bottom: -7px;
            margin-left: 5px;
        }
    }
    h5 {
        font-size: 15px;
        color: var(--black-color);
        font-family: 'eco-medium';
    }
    h3 {
        font-size: 12px;
        font-family: 'eco-medium';
        color: var(--placeholder-color);
        span {
            font-family: 'eco-medium';
            color: var(--black-color);
            font-weight: bold;
        }
    }
}