<ion-header class="ion-no-border">
    <ion-toolbar>
        <ion-buttons slot="start" mode="md">
            <ion-back-button defaultHref="/settings" icon="chevron-back">

            </ion-back-button>
        </ion-buttons>
        <ion-title mode="ios">{{'changePassword.change' | translate}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding ion-margin-top">
    <form [formGroup]="changePassword">
        <ion-item>
            <ion-label position="floating">{{'changePassword.currentPass' | translate}}</ion-label>
            <ion-input formControlName="old_password" name="old_password" type="password"></ion-input>
        </ion-item>
        <p class="err-msg" err *ngIf="changePassword.controls.old_password.hasError('required') && changePassword.controls.old_password.touched" color="danger">
            {{'changePassword.oldPassErr' | translate}}
        </p>
        <p class="err-msg" err *ngIf="changePassword.controls.old_password.hasError('minlength') && changePassword.controls.old_password.touched" color="danger">
            {{'changePassword.err2' | translate}}
        </p>

        <ion-item>
            <ion-label position="floating">{{'changePassword.new' | translate}}</ion-label>
            <ion-input formControlName="password" name="password" type="password"></ion-input>
        </ion-item>
        <p class="err-msg" err *ngIf="changePassword.controls.password.hasError('required') && changePassword.controls.password.touched" color="danger">
            {{'changePassword.repa' | translate}}
        </p>
        <p class="err-msg" err *ngIf="changePassword.controls.password.hasError('minlength') && changePassword.controls.password.touched" color="danger">
            {{'changePassword.oldPass' | translate}}
        </p>

        <ion-item>
            <ion-label position="floating">{{'changePassword.confirm' | translate}}</ion-label>
            <ion-input formControlName="password_confirmation" name="password_confirmation" type="password"></ion-input>
        </ion-item>
        <p class="err-msg" err *ngIf="changePassword.controls.password_confirmation.hasError('required') && changePassword.controls.password_confirmation.touched" color="danger">
            {{'changePassword.confirmRe' | translate}}
        </p>
        <p class="err-msg" err *ngIf="changePassword.controls.password_confirmation.hasError('minlength') && changePassword.controls.password_confirmation.touched" color="danger">
            {{'changePassword.grater' | translate}}
        </p>

        <ion-button [disabled]="!changePassword.valid" (click)="updatePassword()" expand="block" class="ion-no-margin btn-save">
            {{'changePassword.save' | translate}}
        </ion-button>
    </form>
</ion-content>