ion-header {
    ion-toolbar {
        --background: var(--theme-color);
        color: var(--white-color);
        --min-height: 68px;
    }
}

.input-div {
    font-size: 14px;
    font-family: 'eco-medium';
    margin-bottom: 34px;
    p {
        margin: 0;
    }
    ion-input {
        --padding-start: 0px;
        font-size: 16px;
        font-family: 'eco-medium';
        --placeholder-color: var(--placeholder-color);
        color: black;
        border-bottom: 1.5px solid #bbbbbb;
        --padding-bottom: 7px;
    }
}

.get {
    position: absolute;
    left: 13px;
    right: 0;
    bottom: 4%;
    width: 92%;
    background: var(--theme-color);
    overflow: hidden;
    height: 44px;
    border-radius: 5px;
    font-size: 18px;
    font-family: 'eco-medium';
    text-transform: capitalize;
    margin-top: 32px;
}

ion-label {
    font-family: eco-medium !important;
    color: var(--black-color) !important;
    font-size: 20px;
}

ion-item {
    margin-bottom: 10px;
    --padding-start: 0px;
    --highlight-color-focused: var(--theme-color) !important;
    --ripple-color: transparent;
    ion-input,
    ion-select,
    ion-textarea,
    ion-datetime {
        font-family: "eco-medium";
        --color: var(--black-color);
        --padding-top: 12px;
        --padding-bottom: 12px;
    }
}

.btn-save {
    height: 45px;
    font-family: "eco-medium";
    margin: 25px 0px;
    height: 45px;
    --box-shadow: none;
    --background: var(--theme-color);
}