<ion-header class="ion-no-border">
    <ion-toolbar class="ion-no-padding">
        <p>{{today | date : "yyyy"}}</p>
        <h5>{{today | date : "EE, dd MM"}}</h5>
    </ion-toolbar>
</ion-header>
<ion-content mode="ios">
    <ion-calendar [(ngModel)]="date" (change)="onChange($event)" (onSelect)="onSelect($event)" [type]="type" [format]="'YYYY-MM-DD'">
    </ion-calendar>

    <ion-button fill="clear" class="cancel" class="cancel">
        {{'calendar.cancel' | translate}}
    </ion-button>
    <ion-button class="ok" fill="clear" (click)="ok()">{{'calendar.ok' | translate}}</ion-button>
</ion-content>