<ion-header class="ion-no-border">
    <ion-toolbar>
        <ion-title mode="md">Fee Breakdown</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
    <p class="ion-margin-bottom">
        Online
        <ion-icon name="chevron-down"></ion-icon>
    </p>
    <h5 class="ion-margin-top">Cost To Buyer</h5>

    <h3>Ticket price <span class="ion-float-right">US$5,000.00</span></h3>
    <h3>Service fee <span class="ion-float-right">US$176.59</span></h3>
    <h3>Payment fee <span class="ion-float-right">US$129.41</span></h3>
    <h3>Total <span class="ion-float-right">US$5,306.00</span></h3>
    <br>
    <h5 class="ion-margin-top">Your Earnings </h5>
    <h3>Total Price<span class="ion-float-right">US$55,000.00</span></h3>
    <h3>Payment Fee<span class="ion-float-right">US$55,000.00</span></h3>
</ion-content>