ion-header {
    ion-toolbar {
        --background: var(--theme-color);
        color: var(--white-color);
        --min-height: 68px;
    }
}

ion-content {
    ion-item {
        margin-bottom: 10px;
        --ripple-color: var(--theme-color);
        ;
        --inner-padding-end: 0px;
        ion-label {
            h1 {
                font-size: 17px;
                font-family: 'eco-medium';
            }
            p {
                font-size: 13px;
                font-family: 'eco-medium';
                color: var(--placeholder-color);
            }
        }
        ion-icon {
            color: var(--placeholder-color);
            font-size: 32px;
        }
    }
}