ion-header {
    ion-toolbar {
        --background: var(--theme-color);
        color: var(--white-color);
        --min-height: 68px;
    }
}

ion-content {
    img {
        height: 137px;
        width: 137px;
        border-radius: 50%;
    }
    ion-item {
        --inner-padding-end: 0px;
        border-bottom: 2px solid #dddddd;
        ion-label {
            text-transform: capitalize;
            font-size: 25px;
            font-family: 'eco-medium';
            color: var(--black-color);
        }
        ion-buttons {
            margin: 0;
            height: 50px;
            width: 50px;
            ion-button {
                height: 50px;
                width: 50px;
                ion-icon {
                    font-size: 23px;
                }
            }
        }
        p {
            font-family: eco-medium;
            font-size: 17px;
            color: var(--black-color);
        }
        ion-text {
            font-family: eco-medium;
            font-size: 15px;
            color: var(--placeholder-color);
            white-space: normal;
        }
    }
}