ion-header {
    ion-toolbar {
        --background: var(--theme-color);
        color: var(--white-color);
        --min-height: 68px;
    }
}

ion-content {
    ion-item {
        --inner-padding-end: 0px;
    }
    .right {
        margin-left: 17px !important;
    }
    ion-avatar {
        margin-bottom: 12px;
        ngx-progressive-img-loader {
            margin: 0;
            height: 52px !important;
            width: 52px !important;
        }
        height: 52px !important;
        width: 52px !important;
    }
    ion-label {
        margin-left: 18px;
        .u {
            font-family: 'eco-medium';
            color: black;
            font-size: 18px;
        }
        .e {
            font-family: 'eco-medium';
            color: var(--placeholder-color);
        }
    }
    ion-button {
        font-family: 'eco-medium';
        color: var(--placeholder-color);
    }
    hr {
        height: 0px;
        border: 1px solid #eeeeee;
        width: 80%;
        margin-right: 0px;
    }
}