<ion-header class="ion-no-border">
    <ion-toolbar>
        <ion-title mode="md">Events</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
    <ion-item class="ion-no-padding search">
        <ion-input [(ngModel)]="term" placeholder="Search Your Country"></ion-input>
        <ion-buttons slot="end">
            <ion-button>
                <ion-icon slot="icon-only" src="../../../assets/svg_icon/se.svg"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-item>

    <ion-item class="ion-no-padding list" *ngFor="let item of data | filter:term" (click)="checkList(item)" lines="none" button mode="md">
        <ion-label>
            <h3>{{item?.name}}</h3>
        </ion-label>
        <ion-buttons slot="end">
            <ion-button>
                <ion-icon *ngIf="select !== item.name" slot="icon-only" src="../assets/svg_icon/check.svg"></ion-icon>
                <ion-icon *ngIf="select == item.name" slot="icon-only" src="../assets/svg_icon/right.svg"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-item>
</ion-content>