ion-header {
    ion-toolbar {
        --background: var(--theme-color);
        --min-height: 75px;
        ion-title {
            font-size: 25px;
            font-family: 'eco-medium';
        }
    }
}

ion-content {
    .search {
        --inner-padding-end: 0px;
        --padding-end: 0px;
        ion-input {
            font-family: 'eco-medium';
            font-style: italic;
            font-size: 20px;
            color: var(--black-color);
            --placeholder-opacity: 1;
        }
        ion-buttons {
            margin: 0;
            ion-button {
                margin: 0;
            }
        }
    }
    .list {
        --inner-padding-end: 0px;
        --padding-end: 0px;
        margin-top: 10px;
        --ripple-color: var(--theme-color);
        margin-bottom: 10px;
        ion-label {
            font-size: 17px;
            font-family: 'eco-medium';
            h3 {
                font-size: 17px;
                font-family: 'eco-medium';
            }
        }
        ion-buttons {
            margin: 0px;
        }
    }
}