<ion-header class="ion-no-border">
    <ion-toolbar>
        <ion-buttons mode="md" slot="start">
            <ion-back-button defaultHref="/settings" icon="chevron-back">

            </ion-back-button>
        </ion-buttons>
        <ion-title mode="ios">{{'eventBrite.titl' | translate}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <div class="container">
        <img src="../../../assets/events/logo.png">
        <h1>EventRight</h1>
        <p>organizer</p>
    </div>

    <div class="bottom">
        <p>Version {{app_version}}</p>
        <p>{{footer_copyright}}</p>
    </div>
</ion-content>