ion-header {
    ion-toolbar {
        --background: var(--theme-color);
        color: var(--white-color);
        --min-height: 68px;
    }
}

ion-content {
    ion-row {
        text-align: justify;
        p {
            font-size: 15px;
            font-family: 'eco-medium';
        }
        ion-icon {
            font-size: 19px;
        }
        ion-text {
            color: var(--placeholder-color);
            font-size: 13px;
            font-family: eco-medium;
        }
    }
}